<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ng-xterm documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ng-xterm documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>SnippetsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/snippets/snippets.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>









            <tr>
                <td class="col-md-3">providers</td>
                <td class="col-md-9">
                                <code><a href="../injectables/SnippetsService.html" target="_self" >SnippetsService</a></code>
                </td>
            </tr>


            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ng-xterm-snippets</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
		select {
			margin-top: 1.3px;
			font-size: 13px !important;
			position: relative;
			width: 100px !important;
			z-index: 2;
		}
	</code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;form-group&quot; [formGroup]&#x3D;&quot;snippetsSelector&quot;&gt;
	&lt;select
		(change)&#x3D;&quot;emitTaskName(snippetsSelector.get(&#x27;snippets-selector&#x27;).value)&quot;
		formControlName&#x3D;&quot;snippets-selector&quot;
		class&#x3D;&quot;form-control bg-transparent border-0 text-white&quot;&gt;
		&lt;option value&#x3D;&quot;snippets&quot; class&#x3D;&quot;text-white&quot;&gt;snippets&lt;/option&gt;
		&lt;hr&gt;
		&lt;option *ngFor&#x3D;&quot;let snippet of (snippetsList$ | async)&quot;
		        [id]&#x3D;&quot;snippet.id&quot;
		        [value]&#x3D;&quot;snippet.name&quot;
		&gt;
			{{ snippet.name }}
		&lt;/option&gt;
		&lt;hr&gt;
		&lt;option value&#x3D;&quot;edit snippets&quot;&gt;edit snippets&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;
	</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#snippet">snippet</a>
                            </li>
                            <li>
                                <a href="#snippetsList$">snippetsList$</a>
                            </li>
                            <li>
                                <a href="#snippetsSelector">snippetsSelector</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#emitTaskName">emitTaskName</a>
                            </li>
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#taskName">taskName</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(electronService: <a href="../injectables/ElectronService.html">ElectronService</a>, snippetsService: <a href="../injectables/SnippetsService.html">SnippetsService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="72" class="link-to-prism">src/snippets/snippets.component.ts:72</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>electronService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ElectronService.html" target="_self" >ElectronService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>snippetsService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/SnippetsService.html" target="_self" >SnippetsService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>


    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="taskName"></a>
                        <b>taskName</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="58" class="link-to-prism">src/snippets/snippets.component.ts:58</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>An event emitter which emits (outputs) the name of a given snippet.
This snippet is then received by the terminal.</p>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>


    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="emitTaskName"></a>
                    <span class="name">
                        <b>
                            emitTaskName
                        </b>
                        <a href="#emitTaskName"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>emitTaskName(taskName: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="98"
                            class="link-to-prism">src/snippets/snippets.component.ts:98</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>When the user selects a saved snippet, its value will be emitted to and &quot;caught&quot; by
the terminal. After receiving the snippet, the pty service will write it to the terminal.
Once the user hits enter, the pty service will execute the saved snippet.</p>
</div>

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>taskName</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                    <td>
                                        <p>the name of the task to be received and displayed by the terminal</p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="114"
                            class="link-to-prism">src/snippets/snippets.component.ts:114</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="81"
                            class="link-to-prism">src/snippets/snippets.component.ts:81</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="snippet"></a>
                        <span class="name">
                            <b>
                            snippet</b>
                            <a href="#snippet"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Snippet.html" target="_self" >Snippet[]</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="63" class="link-to-prism">src/snippets/snippets.component.ts:63</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>An array which contains a list of Tasks</p>
</div>
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="snippetsList$"></a>
                        <span class="name">
                            <b>
                            snippetsList$</b>
                            <a href="#snippetsList$"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Snippet.html" target="_self" >Observable&lt;Snippet[]&gt;</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="69" class="link-to-prism">src/snippets/snippets.component.ts:69</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>A value used to represent the Observable&lt;Task[]&gt;
returned from the task list service</p>
</div>
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="snippetsSelector"></a>
                        <span class="name">
                            <b>
                            snippetsSelector</b>
                            <a href="#snippetsSelector"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://angular.io/api/forms/FormGroup" target="_blank" >FormGroup</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="72" class="link-to-prism">src/snippets/snippets.component.ts:72</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>A FormGroup variable which is used to configure the task list form </p>
</div>
                    </td>
                </tr>

            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {
	Component,
	OnInit,
	Output,
	EventEmitter,
	OnDestroy
} from &quot;@angular/core&quot;

import { locations, Snippet } from &quot;@shared/utils&quot;
import { ElectronService } from &quot;@shared/services&quot;
import { SnippetsService } from &quot;./snippets.service&quot;
import { Observable } from &quot;rxjs&quot;
import { FormControl, FormGroup } from &quot;@angular/forms&quot;

@Component({
	selector: &quot;ng-xterm-snippets&quot;,
	template: &#x60;
		&lt;div class&#x3D;&quot;form-group&quot; [formGroup]&#x3D;&quot;snippetsSelector&quot;&gt;
			&lt;select
				(change)&#x3D;&quot;emitTaskName(snippetsSelector.get(&#x27;snippets-selector&#x27;).value)&quot;
				formControlName&#x3D;&quot;snippets-selector&quot;
				class&#x3D;&quot;form-control bg-transparent border-0 text-white&quot;&gt;
				&lt;option value&#x3D;&quot;snippets&quot; class&#x3D;&quot;text-white&quot;&gt;snippets&lt;/option&gt;
				&lt;hr&gt;
				&lt;option *ngFor&#x3D;&quot;let snippet of (snippetsList$ | async)&quot;
				        [id]&#x3D;&quot;snippet.id&quot;
				        [value]&#x3D;&quot;snippet.name&quot;
				&gt;
					{{ snippet.name }}
				&lt;/option&gt;
				&lt;hr&gt;
				&lt;option value&#x3D;&quot;edit snippets&quot;&gt;edit snippets&lt;/option&gt;
			&lt;/select&gt;
		&lt;/div&gt;
	&#x60;,
	styles: [ &#x60;
		select {
			margin-top: 1.3px;
			font-size: 13px !important;
			position: relative;
			width: 100px !important;
			z-index: 2;
		}
	&#x60; ],
	providers: [ SnippetsService ]
})

/** An HTML Select that holds a list of user defined &quot;snippets&quot;.
 * These snippets allow the user to easily re run commands they commonly use
 * without having to retype them each time.
 * */
export class SnippetsComponent implements OnInit, OnDestroy {

	/**
	 * An event emitter which emits (outputs) the name of a given snippet.
	 * This snippet is then received by the terminal.
	 *  */
	@Output() taskName &#x3D; new EventEmitter&lt;string&gt;()

	/** An array which contains a list of Tasks
	 * @see src/shared/models/snippet.model.ts
	 * */
	snippet: Snippet[]

	/**
	 * A value used to represent the Observable&lt;Task[]&gt;
	 * returned from the task list service
	 * */
	snippetsList$: Observable&lt;Snippet[]&gt;

	/** A FormGroup variable which is used to configure the task list form */
	snippetsSelector: FormGroup

	constructor(
		private readonly electronService: ElectronService,
		private readonly snippetsService: SnippetsService
	) {
	}


	ngOnInit() {
		// use the taskListService to read the snippets file and return its contents
		this.snippetsList$ &#x3D; this.snippetsService.getSnippets()

		// configure the form select which will display the returned snippets
		this.snippetsSelector &#x3D; new FormGroup({
			&quot;snippets-selector&quot;: new FormControl(&quot;snippets&quot;)
		})
	}

	/**
	 * When the user selects a saved snippet, its value will be emitted to and &quot;caught&quot; by
	 * the terminal. After receiving the snippet, the pty service will write it to the terminal.
	 * Once the user hits enter, the pty service will execute the saved snippet.
	 *
	 * @param {string} taskName the name of the task to be received and displayed by the terminal
	 * */
	emitTaskName(taskName: string) {
		if(taskName &#x3D;&#x3D; &quot;edit snippets&quot;) {
			// open the snippets file in the default text editor.
			this.electronService.shell.openPath(locations.SNIPPETS_FILE)
				.catch((reason) &#x3D;&gt; alert(reason))
			// reset the value of the select so it always displays snippets.
			this.snippetsSelector.get(&quot;snippets-selector&quot;).setValue(&quot;snippets&quot;)
			return
		} else {
			// emit the selected taskName
			this.taskName.emit(taskName)
			// reset the value of the select so it always displays snippets.
			this.snippetsSelector.get(&quot;snippets-selector&quot;).setValue(&quot;snippets&quot;)
		}
	}

	ngOnDestroy() {
		this.taskName &#x3D; null
	}

}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
		select {
			margin-top: 1.3px;
			font-size: 13px !important;
			position: relative;
			width: 100px !important;
			z-index: 2;
		}
	
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="form-group" [formGroup]="snippetsSelector">	<select		(change)="emitTaskName(snippetsSelector.get(\'snippets-selector\').value)"		formControlName="snippets-selector"		class="form-control bg-transparent border-0 text-white">		<option value="snippets" class="text-white">snippets</option>		<hr>		<option *ngFor="let snippet of (snippetsList$ | async)"		        [id]="snippet.id"		        [value]="snippet.name"		>			{{ snippet.name }}		</option>		<hr>		<option value="edit snippets">edit snippets</option>	</select></div>	</div>'
    var COMPONENTS = [{'name': 'AdvancedComponent', 'selector': 'ng-xterm-advanced-settings'},{'name': 'AppComponent', 'selector': 'ng-xterm-root'},{'name': 'AppTopbarComponent', 'selector': 'ng-xterm-app-topbar'},{'name': 'BackgroundSettingsComponent', 'selector': 'ng-xterm-background-settings'},{'name': 'CursorComponent', 'selector': 'ng-xterm-cursor-settings'},{'name': 'ForegroundComponent', 'selector': 'ng-xterm-foreground-settings'},{'name': 'GeneralSettingsComponent', 'selector': 'ng-xterm-terminal-settings'},{'name': 'MiscSettingsComponent', 'selector': 'ng-xterm-misc-settings'},{'name': 'SettingsComponent', 'selector': 'ng-xterm-settings'},{'name': 'SnippetsComponent', 'selector': 'ng-xterm-snippets'},{'name': 'SplitPanelComponent', 'selector': 'ng-xterm-split-panel'},{'name': 'TabsComponent', 'selector': 'ng-xterm-tabs'},{'name': 'TerminalComponent', 'selector': 'ng-xterm-terminal'},{'name': 'TopBarComponent', 'selector': 'ng-xterm-top-bar'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'SnippetsComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'SnippetsComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
